@media screen and (min-width: 200px) {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 .sessionCard {
  text-align: center;
  
  margin: 0 auto;
  padding: 10px;  
 }

 .index{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  text-align: center;
  
  margin: 0 auto;
 }
 a {
  text-decoration: none;
 }

 .show{
  margin: 0 auto;
  justify-content: center;
  text-align: center;
 }